<a href="https://colab.research.google.com/github/GuiNakamuraC/Python/blob/main/6__ExerciciosPraticos_conte%C3%BAdo_at%C3%A9_listas_tuplas_dicionarios_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios, insira os valores abaixo em variáveis.

Nome 1: Guilherme Nakamura Carvalho

Nome 2: Evellyn de Santana Feliciano

Turma: 1°C

Curso que faz na ETEC: Informática para Internet

Período do Curso: Manhã

### Exercícios com todos os conteúdos aplicados até o momento.

In [ ]:
# Exercício 1 inserir os seus dados acima em variáveis
#Exemplo
nome1 = "Guilherme Nakamura Carvalho"
nome2 = "Evellyn de Santana Feliciano"
Turma = "1C"
Curso = "Informática para Internet"
Período = "Manhã"
#continue.....

In [ ]:
# Exercício 2 -Após inserir dados acima usando o slicing (exemplo no notebook de manipulação de Strings), imprima na tela apenas seu sobrenome
nome1[10:]

'Nakamura Carvalho'

In [ ]:
nome2[8:]

'de Santana Feliciano'

In [ ]:
# Exercício 3 -  imprima seu nome de trás pra frente
nome1[::-1]

'ohlavraC arumakaN emrehliuG'

In [ ]:
nome2[::-1]

'onaicileF anatnaS ed nyllevE'

In [ ]:
# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."
frase.split(',')

['Python é a linguagem ideal para o primeiro contato com programação',
 ' além da sua sintaxe simples e muito poderosa',
 ' Python tem diversas aplicações como: desenvolvimento web',
 ' análise de dados',
 ' inteligência artificial e automatização de tarefas',
 ' neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem',
 ' a comunidade Python é a que mais cresce',
 ' assim como sua demanda de profissionais no mercado.']

In [ ]:
# Exercício 5 -Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
n1 = 1
n2 = 2
n3 = 3
n4 = 4
n5 = 5
n6 = 6
n7 = 7
n8 = 8
n9 = 9
n10 = 10
nums = [n1, n2, n3, n4, n5, n6, n7, n8, n9, n10]
print (nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela
listaobjetos = ["copo, prato, garfo, colher, faca"]

In [ ]:
listaobjetos

['copo, prato, garfo, colher, faca']

In [ ]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string
s1 = "Evellyn e "
s2 = "Guilherme"
s3 = s1 + s2
print(s3)

Evellyn e Guilherme

In [ ]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
t1 = (1, 2, 2, 3, 4, 4, 4, 5)
t1.count (4)

3

In [ ]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela
d1 = {}
print(d1)

{}

In [ ]:
# Exercício 10 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dados_dupla = {
    'Nome1': 'Evellyn',
    'Nome2': 'Guilherme',
    'idade': 'quinze',
}

print(dados_dupla['Nome1'])
print(dados_dupla['Nome2'])
print(dados_dupla['idade'])

Evellyn
Guilherme
quinze

In [ ]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dados_dupla['curso'] =  "ti"
print(dados_dupla)

{'Nome1': 'Evellyn', 'Nome2': 'Guilherme', 'idade': 'quinze', 'curso': 'ti'}

In [ ]:
# Exercício 12 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.
dados_dupla = {
    'Nome1': 'Evellyn',
    'Nome2': 'Guilherme',
    'numsorte': [2, 14],
}
print(dados_dupla)

{'Nome1': 'Evellyn', 'Nome2': 'Guilherme', 'numsorte': [2, 14]}

In [ ]:
# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
lista1 = ["ovo", (12, 24), {"nome1": "Evellyn", "nome2": "Guilherme"}, 3.14]
print(lista1)

['ovo', (12, 24), {'nome1': 'Evellyn', 'nome2': 'Guilherme'}, 3.14]

In [ ]:
# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[:18]

'Cientista de Dados'

## APÓS TERMINAR OS EXERCÍCIOS COMPARTILHAR LINK COMIGO: profcintiapinho@gmail.com

# Fim